* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#236a6d, #144e57);
}

.container {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10%;
    padding: 20px;
    background-color: #fff; /* Fondo blanco para el contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Borde ligero */
    background-color: #f9f9f9; /* Fondo gris claro */
}

thead {
    background-color: rgba(49, 126, 134, 0.4);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Borde inferior */
}

th {
    font-weight: 700;
    text-transform: uppercase;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para filas pares */
}

tbody tr:hover {
    background: rgba(140, 243, 234, 0.2); /* Cambio de color al pasar el cursor */
}
